<!DOCTYPE html>
<html>
<head>
  <title>Grapevine</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="text-center">
    <h1>Grapevine</h1>
    <p class="lead">Search for popular retweets!</p>
  </div>
  <div class="container">
    <div id="header">
    </div>
    <div id="main">
    </div>
  </div>
</body>
</html>
