<% content_for :body do %>
<script id="feed-result-item-tmpl" type="text/html">
{{text}}
</script>

<div class="container">
  <%= render "search" %>
  <div id="results">
  </div>
</div>
<% end %>
<%= render template: "layouts/application" %>
